.sendingList {
	width: 400px;
	text-align: left;
	margin: 0 auto;
}

.retry {
	cursor: pointer;
	color: blue;
	margin-left: 5px;
}

.retry:hover > .errorMessage {
	display: block;
}

.errorMessage {
	display: none;
	position: absolute;
	background: white;
	padding: 10px;
	border-radius: 5px;
}
