body {
  text-align: center;
  background-color: #87CEFA;
  font-size: 18px;
  margin: 2% 5%;
}

.nav {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}

.nav button {
  margin: 0 10px;
  cursor: pointer;
}


.blur {
  filter: blur(5px);
  pointer-events:none;
}

.container {
  display: flex;
}

.chats {
  margin: 0 auto;
  width: 30%;
}

.chatsList {
  border: 1px solid;
  padding: 20px;
  text-align: left;
  max-height: 300px;
  overflow: scroll;
}

.chatsList > input {
  width: 100%;
  margin-bottom: 10px;
  box-sizing : border-box;
}

.chatRow {
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  text-align: left;
  cursor: pointer;
}

.chatRow input[type='checkbox'] {
  margin-right: 20px;
}

.staticRow {
  cursor: default;
  justify-content: space-between;
}

.chatRow > .x {
  visibility: hidden;
  cursor: pointer;
}

.chatRow:hover > .x {
  visibility: visible;
}

.message {
  width: 30%;
}

textarea {
  width: 100%;
  height: 300px;
  padding: 15px;
  font-size: 20px;
}

button {
  display: block;
  padding: 10px 20px;
  margin: 10px auto;
  font-size: 14px;
}

textarea, button, .chatRow {
  background-color: rgba(255,255,255,.5);
}

.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.legal {
  font-size: 12px;
}

.selectAllButtons {
  display: flex;
  padding-top: 10px;
}


/* MOBILE STYLES */

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .chats, .message {
    width: 100%;
  }

  textarea {
    width: 300px;
  }
}

